@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?19592605');
  src: url('../font/fontello.eot?19592605#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?19592605') format('woff2'),
       url('../font/fontello.woff?19592605') format('woff'),
       url('../font/fontello.ttf?19592605') format('truetype'),
       url('../font/fontello.svg?19592605#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19592605#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-diamond:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-note:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-th-large-1:before { content: '\e807'; } /* '' */
.icon-th:before { content: '\e808'; } /* '' */
.icon-th-list-1:before { content: '\e809'; } /* '' */
.icon-youtube-1:before { content: '\e80a'; } /* '' */
.icon-html5:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-quote-left:before { content: '\e80d'; } /* '' */
.icon-quote-right:before { content: '\e80e'; } /* '' */
.icon-quote-left-alt:before { content: '\e80f'; } /* '' */
.icon-quote-right-alt:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-th-list-2:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */